@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

.container_benner {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
}

.benner_Home {
  padding: 0px 0px 495px 0px;
  position: relative;
}

.Beener-bg {
  padding: 56px 16px 0px 16px;
  background: linear-gradient(180deg, #FFF 0%, #DBEAFE 100%);
}

.Benner_intro h1 {
  color:  #1E293B;
  font-size: 72px;
  line-height: 74px;
  letter-spacing: 0.5px;
}

.Benner_intro p {
  color: #334155;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.5px;
  max-width: 800px;
  margin: 0 auto;
}

.benner_blenk {
  height: 420px;
}

.Benner_img img {
  max-width: 996px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 120px;
}
.Logos_move {
  background: #F8FAFC;
  padding: 48px 0;
}

.rfm-child {
  padding: 0 54px;
}



/* .Features */
.Features {
  padding: 160px 16px;
}

.container_x {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
}

.Features_boxs {
  padding-left: 95px;
  max-width: 565px;
}

.Features h2 {
  font-size: 48px;
  line-height: 54px;
  letter-spacing: 0.5px;
  max-width: 720px;

}

.Features_boxs h4 {
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 0.5px;
}

.Features_boxs p {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.5px;
}
